<!DOCTYPE html>
<html lang="en">

<head>
  <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <meta charset="UTF-8">
  <title>MTA Subway Turnstile Data</title>

</head>

<body>
  <div id="container">
    <div class="navigation">
      <ul class="nav-links">
        <li><a href="#">MTA</a></li>
      </ul>
    </div>
    <div class="info-container">
      <h1>MTA Subway Turnstile Data</h1>
      <p>Select your subway station:</p>
      <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Stations</button>
        <div id="myDropdown" class="dropdown-content">
          <input type="text" id="UserInput" placeholder="Search..."  onkeyup="filterFunction()">
           {{#mtas}}
          <p class="list">
             {{station}}
          </p>
          {{/mtas}}

        </div>
        <select id="Days">
                    <option value="MONDAY">MONDAY</option>
                    <option value="TUESDAY">TUESDAY</option>
                    <option value="WEDNESDAY">WEDNESDAY</option>
                    <option value="THURSDAY">THURSDAY</option>
                    <option value="FRIDAY">FRIDAY</option>
                    <option value="SATURDAY">SATURDAY</option>
                    <option value="SUNDAY">SUNDAY</option>
        </select>

        <select id="hours">
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
        </select>
            <button id="searchSubmit" type="submit"> Submit </button>
        <!-- dropdown closes -->
      </div>
      <!-- info-container -->
    </div>

    <div id="resultsContainer">

   </div>

    <!-- entire container -->
  </div>
  <script>
    /* When the user clicks on the button,
          toggle between hiding and showing the dropdown content */
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }

    function filterFunction() {
      var input, filter, ul, li, a, i;
      input = document.getElementById("UserInput");
      filter = input.value.toUpperCase();
      div = document.getElementById("myDropdown");
      a = div.getElementsByTagName("p");
      for (i = 0; i < a.length; i++) {
        if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
          a[i].style.display = "";
        } else {
          a[i].style.display = "none";
        }
      }
    }
    
  </script>

</body>

</html>
