<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css">
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/script.js"></script>
  <title>Document</title>
</head>
<body>

{{#mtas}}
<p>
  {{unit}}

  {{ca}}

  {{scp}}
  {{station}}
  {{linename}}
  {{division}}
  {{dates}}
  {{event_time}}
  {{ description }}
  {{entries }}
  {{exits}}

{{/mtas}}

</body>
</html>
