<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css">

  <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <title>Document</title>
</head>
<body>

{{#mtas}}
<p>
  {{unit}}

  {{ca}}

  {{scp}}
  <a href="/{{ id }}"> {{station}} </a>
  {{linename}}
  {{division}}
  {{dates}}
  {{event_time}}
  {{ description }}
  {{entries }}
  {{exits}}

</p>

{{/mtas}}

    <canvas id="myChart" width="400" height="400"></canvas>

</body>
</html>
