<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="/css/style.css">
   <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>

   <script src="scripts/app.js"></script>
  <title>Document</title>
</head>
<body>
{{#mtas}}

  {{unit}}

  {{ca}}

  {{scp}}
  {{station}}
  {{linename}}
  {{division}}
  {{dates}}
  {{event_time}}
  {{ description }}
  {{entries }}
  {{exits}}
  <p>{{id}}</p>
  <img src="{{poster}}"  />
  
  <button type="submit" class="delete-data" data-id={{ id }}>DELETE</button>

{{/mtas}}


</body>
</html>
