body{
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
    * {
        font-family: Helvetica, sans-serif;
    }

    body {
        margin: 0;
        padding: 0;
    }

    .info-container {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 15%;
        left: 30%;
        border: 1px solid lightgrey;
        padding: 3%;
    }

    .dropbtn {
        background-color: cornflowerblue;
        color: white;
        padding: 16px;
        margin-left: 150px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropbtn:hover,
    .dropbtn:focus {
        background-color: #3d648e;
    }

    #UserInput {
        background-image: url('searchicon.png');
        background-position: 14px 12px;
        background-repeat: no-repeat;
        font-size: 16px;
        padding: 14px 20px 12px 45px;
        border: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f6f6f6;
        min-width: 230px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown a:hover {
        background-color: #ddd
    }

    .show {
        display: block;
    }

    #map {
        height: 40vh;
        width: 40vw;
        top: 400px;
        left: 400px;
        border-radius: 20px;
    }

        #floating-panel {
        position: absolute;
        top: 450px;
        left: 550px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto', 'sans-serif';
        line-height: 30px;
        padding-left: 10px;
    }

