body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.navigation {
    top: 0;
    margin: 0;

}
.nav-menu {
    display: flex;
    flex-direction: row-wrap;
    padding: 2%;
    top: 0;
    margin: 0;
}
.nav-menu li {
    list-style-type: none;
    padding-left: 20%;
}
.nav-menu a {
    text-decoration: none;
    font-size: 2em;
    color: black;
}

#body-container {
  width: 100vw;
  height: 90vh;
  position: absolute;
  top: 10%;
}

#show-container {
  width: 100vw;
  height: 90vh;
  position: absolute;
  top: 10%;
}

.photo {
    background: url("train-logo.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(3px);
    width: 70%;
    height: 70%;
    left: 15%;
    position: absolute;
}
.info {
  z-index: 10;
  display: flex;
  flex-direction: column;
/*  justify-content: center;*/
  align-content: center;
  padding: 4%;
  left: 15%;
  background-color: rgba(255,255,255,0.3);
  box-shadow: 0 0 5px 10px rgba(255,255,255,0.3);
  width: 70%;
  height: 70%;
  position: absolute;
}

.form-div {
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.mtaSearch button {
    padding: 1%;
    border: none;
}

.mtaSearch input {
    padding: 1%;
    border: none;
}

