* {
      font-family: Helvetica, sans-serif;
    }
    body {
      margin: 0;
      padding: 0;
    }
    .navigation {
      background-color: cornflowerblue;
      top: 0;
      margin: 0;
      height: 20%;
    }
    .nav-links {
      display: flex;
      flex-direction: row-wrap;
      /*    justify-content: space-between;*/
      padding: 2%;
      top: 0;
      margin: 0;
    }
    .nav-links li {
      list-style-type: none;
      padding-left: 20%;
    }
    .nav-links a {
      text-decoration: none;
      font-size: 2em;
      color: white;
    }
    .info-container {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 15%;
      left: 30%;
      border: 1px solid lightgrey;
      padding: 3%;
    }
    .dropbtn {
      background-color: cornflowerblue;
      color: white;
      padding: 16px;
      margin-left: 150px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }
    .dropbtn:hover,
    .dropbtn:focus {
      background-color: #3d648e;
    }
    #UserInput{
      background-image: url('searchicon.png');
      background-position: 14px 12px;
      background-repeat: no-repeat;
      font-size: 16px;
      padding: 14px 20px 12px 45px;
      border: none;
    }
    .dropdown {
      position: relative;
      display: inline-block;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f6f6f6;
      min-width: 230px;
      overflow: auto;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    .dropdown a:hover {
      background-color: #ddd
    }
    .show {
      display: block;
    }
